header{
    width: 100%;
    height: 110px;
    background-color: #0E2954;
    position: fixed;
    top: 0;
    z-index: 110;
}
header .container-xl{
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
header .menu{
    position: relative;
}
header .menu ul{
    display: flex;
    justify-content: space-between;
}
header .menu ul li{
    list-style: none;
}
header .menu ul li .sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 5%;
    visibility: hidden;
    opacity: 0;
    min-width: 240px;
}
header .menu ul li .sub-menu li:first-child{
    margin-top: 0px;
}
header .menu ul li .sub-menu li{
    margin-top: 20px;
}
header .menu ul li .sub-menu li a{
    width: 100%;
}
header .menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: aliceblue;
    font-weight: 600;
    height: 100%;
    padding: 10px 25px;
    border-radius: 25px;
    transition: all .25s ease-in;
    height: auto;
    border-right: 5px solid transparent !important;
    background-color: #0E2954;
}
header .menu ul li:hover a{
    border-right: 5px solid #473E81 !important
}
header .menu ul li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}
header .menu ul li a:hover{
    background-color: #2B6197;
}

.visible{
    display: none !important;
}
header .navigation-menu{
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: 111;
    background-color: aliceblue;
    position: fixed;
    left: 0;
    top: 0;
    transition: all .25s linear;
    padding-top: 30%;
}
header .navigation-menu ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: #2B6197;
    text-transform: uppercase;
    margin-top: 10px;
}
header .navigation-menu ul li{
    list-style-type: none;
}
header .navigation-menu.active{
    visibility: visible;
    opacity: 1;
}
header .navigation-menu-button{
    display: flex;
    height: 100%;
    align-items: center;
    visibility: hidden;
}
header .navigation-menu-button .button-box.active{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0E2954;
    z-index: 112;
}
header .navigation-menu-button .button-box span.active:nth-child(1){
    transform: rotate(45deg) translate(25px,10px) ;
}
header .navigation-menu-button .button-box span.active:nth-child(2){
    transform: rotate(-45deg) translate(-10px,25px);
}
header .navigation-menu-button .button-box span.active:nth-child(3){
    display: none;
}
header .navigation-menu-button .button-box{
    width: 75px;
    height: 75px;
    position: relative;
}
header .navigation-menu-button .button-box span{
    width: 55px;
    height: 7px;
    background-color: white;
    margin-top: 10px;
    border-radius: 20px;
    position: absolute;
}
header .navigation-menu-button .button-box span:nth-child(1){
    transform: translateY(250%);
}
header .navigation-menu-button .button-box span:nth-child(2){
    transform: translateY(500%);
}


@media screen and (min-width:1200px) and (max-width:1400px) {
    header .menu ul li a{
        font-size:15px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    header .menu ul li a{
        font-size:15px;
        padding: 8px 20px;
    }
    header .menu{
        visibility: hidden !important;
        position: absolute;
    }
   header .navigation-menu-button{
        visibility: visible;
   }
}
@media screen and (min-width:768px) and (max-width:992px) {
    header .menu ul li a{
        font-size:15px;
        padding: 5px 15px;
    }
    header .menu{
        visibility: hidden !important;
        position: absolute;
    }
   header .navigation-menu-button{
        visibility: visible;
   }
}

@media screen and (min-width:576px) and (max-width:768px) {
    header .menu ul li a{
        font-size:15px;
        padding: 5px 15px;
    }
    header .menu{
        visibility: hidden !important;
        position: absolute;
    }
   header .navigation-menu-button{
        visibility: visible;
   }
}
@media screen and (min-width:0px) and (max-width:576px) {
    header .menu ul li a{
        font-size:15px;
        padding: 5px 15px;
    }
    header .menu{
        visibility: hidden !important;
        position: absolute;
    }
   header .navigation-menu-button{
        visibility: visible;
   }
}



