@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

.swiper {
    width: 100%;
    height: 100vh;
}
.swiper-slide .content{
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide .content .text-field{
    width: 450px;
    height: 450px;
    position: absolute;
    background-color: transparent;
    transform: translate(50% ,80%);
    z-index: 100;
}
.swiper-slide .content .text-field h1{
    color: #FFF;
    font-size: 70px;
    margin-bottom: 20px;
}
.swiper-slide .content .text-field p{
    color: #FFF;
    font-size: 17px;
}

.swiper-slide .content .img-field{
    width: 100%;
    height: 100%;
}
.swiper-slide .content .img-field::before{
    content: '';
    background-color: #000;
    opacity: .5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
}

.swiper-slide .content .img-field img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 19;
}

.section {
    margin-bottom: 150px;
}
#Homepage-about .field-1 .text-field .title{
    font-size: 60px;
    color: #0E2954;
    font-family: 'Josefin Sans', sans-serif;
}
#Homepage-about .field-1 .text-field  .text{
    margin-top: 60px;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
}

#Homepage-about .field-2{
    display: flex;
    align-items: center;

}
#Homepage-about .field-2 .text-field{
    transform: translate(-250px,150px);
    color: #0E2954;
    font-family: 'Rubik Marker Hatch', cursive;
    font-size: 40px;
    
}
#Homepage-about .field-2 .arrow-img{
    width: 150px;
    height: 150px;
    position: absolute;
    transform: translate(00%,10%);
}

#Homepage-about .field-2 .arrow-img img{
    width: 100%;

    position: absolute;
}
#Homepage-about .field-2 .catalog{
    width: 150px;
    height: 150px;
    position: absolute;
    transform: translate(100%,-50%);
}

#Homepage-about .field-2 .catalog img{
    width: 100%;
    position: absolute;
}
#Homepage-brands{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
#Homepage-brands .title{
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    color: #0A2036 ;
}
#Homepage-brands .brands{
    margin-top: 100px;
}
#Homepage-brands .brands .BrandSwiper{
    height: 25vh;
}
#Homepage-brands .video-content{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}
#Homepage-brands .video-content .video-content-inner a img{
    width: 100%;
    height: auto;
    border: 1px solid grey;

}
#Homepage-brands .video-content .video-content-inner a .play-button{
    width: 50px;
    height: 50px;
    position: absolute;
    margin: auto;
    transform: translate(-950%, 400%);
    border: none;
}
 body{
    background-color: #F7F1E5;
 }

.breadcrumb{
    width: 100%;
    height: 40vh;
    position: relative;
}
 
.breadcrumb img{
    width: 100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
}
.breadcrumb .breadcrumb-bg{
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #0A2036;
    opacity: 0.5;
    position: absolute;
}
.breadcrumb-inner{
    width: 600px;
    height: auto;
    transform: translate(50%,125%);
    z-index: 2;
    position: absolute;
    align-items: center;
    display: flex;
}
.breadcrumb-text{
    position: relative;
    display: flex;
    margin-top: 40px;
}
.breadcrumb-text li:nth-child(1){
    margin-left: 0;
}
.breadcrumb-text li{
    margin-left: 25px;
    position: relative;
}
.breadcrumb-text li:hover a{
    opacity: 1;
}
.breadcrumb-text li:hover::before{
    opacity: 1;
}
.breadcrumb-text a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    opacity: 0.6;
    transition: .25s all ease;
}
.breadcrumb-text li:nth-child(1)::before{
    display: none;
}
.breadcrumb-text li::before{
    content: '';
    width: 8px;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    left: -15px;
    bottom: 12px;
    opacity: 0.6;
    transition: .25s all ease;
}
.breadcrumb-title h1{
    color: #FFF;
    font-weight: 200;
    font-size: 50px;
}
.Products-main{
    padding: 150px;
}
.Products-group .field-1{
    margin-bottom: 150px;
}
.Products-main .field-1 .product-brand-field .card{
    position: relative;
    display: block;
    background-color: #0E2954;
    margin-bottom: 50px;

}
.Products-main .field-1 .product-brand-field .card .img-box{
    position: relative;
    overflow: hidden;
    padding: 60px 30px;
}
.Products-main .field-1 .product-brand-field .card .img-box img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.Products-main .field-1 .product-brand-field .card:hover .content .text-field{
    opacity: 1;
}
.Products-main .field-1 .product-brand-field .card .content {
    padding: 10px;
    text-align: center;
}
.Products-main .field-1 .product-brand-field .card .content .text-field{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: aliceblue;
    opacity: 0;
    transition: .25s all linear;
}
.Products-main .field-1 .product-brand-field .card .content .text-field:hover .arrow-icon{
    transform: translateX(5px);
}
.Products-main .field-1 .product-brand-field .card .content .text-field .arrow-icon{
    position: relative;
    transition: .15s all linear;
}
.Products-main .field-1 .product-brand-field .card .content .text-field .arrow-icon span{
    background-color: white;
}
.Products-main .field-1 .product-brand-field .card .content .text-field .arrow-icon span:nth-child(1){
    width: 15px;
    height: 1px;
    position: absolute;
    transform: translate(70px, -10px);
}
.Products-main .field-1 .product-brand-field .card .content .text-field .arrow-icon span:nth-child(2){
    width: 7px;
    height: 1px;
    position: absolute;
    transform: translate(79px, -12px) rotate(45deg);
}
.Products-main .field-1 .product-brand-field .card .content .text-field .arrow-icon span:nth-child(3){
    width: 7px;
    height: 1px;
    position: absolute;
    transform: translate(79px, -8px) rotate(-45deg);
}
.Products-main .field-2 {
    padding-left: 3%;
}
.Products-main .field-2 .search-bar{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.Products-main .field-2 .search-bar input[ type=text]{
    width: 100%;
    height:50px;
    border: 1px solid #D8D9DA;
    box-sizing: border-box;
    padding: 10px;
}
.Products-main .field-2 .taxonomy{
    width: 100%;
    height: auto;
    border: 1px solid #D8D9DA;
    padding: 40px;
}
.Products-main .field-2 .taxonomy ul{
    margin-top: 20px;
}
.Products-main .field-2 .taxonomy ul li:nth-child(1){
    margin-bottom: 20px;
    width: 100%;
    padding-left: none;
}
.Products-main .field-2 .taxonomy ul li{
    margin-bottom: 5px;
    border-top: 1px solid rgba(13,0,51,0.1);
    width: 90%;
    padding-left: 10px;
    padding-top: 10px;
}
.Products-main .field-2 .taxonomy ul li:nth-child(1) a{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.Products-main .field-2 .taxonomy ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    text-transform: capitalize;
}
.Products-main .field-2 .taxonomy .title{
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0A2036;
   
}

.Products-group{
    margin-top: 100px;
}
.Products-group .menu-groups{
    border: 1px solid #D8D9DA;
    padding: 40px;
}
.Products-group .menu-groups .title{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0A2036;
    font-weight: 500;
}
.Products-group .menu-groups .main-menu{
    margin-top: 20px;
}
.Products-group .menu-groups ul li{
    padding:10px;

}
 
.Products-group .menu-groups ul li a{
    text-decoration: none;
    color: #0A2036;
}
.Products-group .menu-groups .main-menu li a{
    position: relative;
}
.Products-group .menu-groups .main-menu li .second-menu-title{
    font-size: 20px;
}
.Products-group .menu-groups .main-menu li .second-menu-title:hover .icon{
    opacity: 1;
    transform: rotate(-180deg);
}
.Products-group .menu-groups .main-menu .second-menu-title .icon{
    opacity: 0;
    transition: .5s all ease;
}

.Products-group .menu-groups .main-menu .collapse_menu li a{
    position: relative;
}
.Products-group .menu-groups .main-menu li a:hover span{
    width: 100%;
}
.Products-group .menu-groups .main-menu li a span{
    width: 0%;
    height: 1px;
    bottom: -5px;
    left: 0px;
    background-color: #0A2036;
    position: absolute;
    transition: all .50s ease;
}
.Products-group .menu-groups .main-menu .collapse_menu li a:hover span{
    width: 100%;
}
.Products-group .menu-groups .main-menu .collapse_menu li a span{
    width: 0%;
    height: 1px;
    bottom: -5px;
    left: 0px;
    background-color: #0A2036;
    position: absolute;
    transition: all .50s ease;
}
.Products-group .field-2{
    padding-left: 50px;
}
.Products-group .field-2 .title_group h1{
    font-size: 40px;
    color: #0E2954;
    margin-bottom: 50px;
}
.Products-group .field-2 .title_brand{
    color: #0A2036;
    font-size: 20px;
    font-weight: 500;
}
.Products-group .field-2 .title_brand .img_field{
    width: 100px;
    height: auto;
   
}
.Products-group .field-2 .title_brand .img_field img{
    width: 100%;
    height: auto;
}



















.fleld_productions {
    margin-top: 150px;
}
.fleld_productions .card{
    position: relative;
    display: block;
    background-color: transparent;
    margin-bottom: 50px;    
    transition: .25s all linear;
}   
.fleld_productions .card:hover{
    transform: translateY(-20px);
}
.fleld_productions .card .img-box{
    position: relative;
    overflow: hidden;
}
.fleld_productions .card .img-box img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.fleld_productions .card:hover .content .text-field{
    opacity: 1;
}
.fleld_productions .card .content {
    padding: 10px;
    text-align: center;
}
.fleld_productions .card .content .text-field{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #0A2036;
    opacity: 0;
    transition: .25s all linear;
}
.fleld_productions .card .content .text-field:hover .arrow-icon{
    transform: translateX(5px);
}
.fleld_productions .card .content .text-field .arrow-icon{
    position: relative;
    transition: .15s all linear;
}
.fleld_productions .card .content .text-field .arrow-icon span{
    background-color: #0A2036;
}
.fleld_productions .card .content .text-field .arrow-icon span:nth-child(1){
    width: 15px;
    height: 1px;
    position: absolute;
    transform: translate(70px, -10px);
}
.fleld_productions .card .content .text-field .arrow-icon span:nth-child(2){
    width: 7px;
    height: 1px;
    position: absolute;
    transform: translate(79px, -12px) rotate(45deg);
}
.fleld_productions .card .content .text-field .arrow-icon span:nth-child(3){
    width: 7px;
    height: 1px;
    position: absolute;
    transform: translate(79px, -8px) rotate(-45deg);
}

.product_single_field{
    margin-top: 100px;
}

.product_single_field .field-1 .product-img{
    position: relative;
    width: 150px;
    height: auto;
    overflow: hidden;
}
.product_single_field .field-1 .product-img a img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.product_single_field .field-1 .product-img .product-title{
    font-size: 20px;
    font-weight: 600;
    color: #0A2036;
    margin-top: 20px;
    text-align: center;
}

table{
    width: 100%;
    
}

.table_title{
    font-size: 20px;
    font-weight: 600;
}
td{
    border: 1px solid rgba(51, 51, 51, 0.1) !important;
    text-align: center;
    padding: 10px;
}

.product_single_field .field-3 .title{
    margin-top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 100;
    margin-bottom: 100px;
}
.product_single_field .field-3 .card{
    width: 100%;
    height: 100%;
    border: 1px solid #d9e0e6;
    border-radius: 0;
    transition: .25s all linear;
}
.product_single_field .field-3 .card .img-box{
    position: relative;
}
.product_single_field .field-3 .card .img-box img{
    width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
}

.product_single_field .field-3 .ProductSwiper{
    height: auto;
    padding-top: 25px;
    padding-bottom: 50px;
}
.product_single_field .field-3 .card .content{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    transition: all .25s ease;
}
.product_single_field .field-3 .card .content .text-field{
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #404266;
}
.product_single_field .field-3 .card .content .text-field .fa-arrow-right{
    opacity: 0;
    transition: .25s all linear;
}
.product_single_field .field-3 .card:hover .content .text-field .fa-arrow-right{
    opacity: 1;
}
.product_single_field .field-3 .card:hover {
    transform: translateY(-10px);
}
.product_single_field .field-3 .card:hover .content{
    transform: translateY(-10px);
}

.Groups-main{
    margin-top: 150px;
}
.Groups-main .Page_title h1{
    font-weight: 100;  
    margin-bottom: 100px;  
}
.Groups-main .Brand_title h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}
.Groups-main .brand-link{
    text-align: center;
}
.Groups-main .brand-link a{
    text-decoration: none;
    font-size: 18px;
    color: #0E2954;
    font-weight: 600;
}
.Groups-main .brand-link .brand_img{
    margin-top: 75px;
    width: 150px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.Groups-main .brand-link .brand_img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.kurumsal{
    margin-top: 150px;
    margin-bottom: 100px;
}
.kurumsal h2{
    margin-bottom: 50px;
}
.kurumsal-2 ul{
    padding-left: 30px !important;
}
.kurumsal-2 ul li{
    list-style-type: disc;
    font-size: 15px;
}
.kurumsal-2{
    margin-bottom: 150px;
}

.map-content {
    margin-bottom: 50px;
    margin-top: 50px;
}
.map-content .field-1 iframe{
    height: 300px !important;
}
.map-content .field-2 h3{
    margin-bottom: 25px;
}

.form-field .form-title{
    margin-bottom: 40px;
    font-weight: 600;
    color: #0E2954;
    font-size: 30px;
    text-transform: uppercase;
}

.form-field{
    margin-top: 150px;
    margin-bottom: 150px;
}
.form-field input{
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid rgba(51, 51, 51, 0.1);
} 
.form-field textarea{
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid rgba(51, 51, 51, 0.1);
}
.form-field .button-field{
    margin: 10px;
}
.form-field .button-field a{
    padding: 10px 30px;
    border: 1px solid grey;
    background-color: transparent;
    position: relative;
    z-index: 1;
    transition: all .15s linear;
}
.form-field .button-field a::before{
    background-color: #118DF0;
    position: absolute;
    width: 0%;
    height: 100%;
    content:'';
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .25s linear;
}
.form-field .button-field a:hover{
    border: 1px solid #FFF;
    color: #FFF !important;
}
.form-field .button-field a:active::before{
    background-color: black;
}
.form-field .button-field a:hover::before{
    width: 100%;
}


#Homepage-gallery .field-1{
    width: 90%;
    height: 100vh;
    background-color: #0E2954;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
#Homepage-gallery .field-1 .bg-img{
    width: 100%;
    height: 100%;
}
#Homepage-gallery .field-1 .bg-img img{

    object-fit: cover;
}
#Homepage-about .gallery a{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    height: 250px;
    position: relative;
}

#Homepage-about .gallery a img{
    height: auto;
    width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
    
}


#Homepage-VideoField {
    width: 100%;
    height: 100vh;
    position: relative;

}
#Homepage-VideoField a{
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Homepage-VideoField a::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    position: absolute;
   
}

#Homepage-VideoField a .play-button{
    width: 75px;
    height: 75px;
    margin: auto;
    position: relative;
    background-color: gray;
    border-radius: 50px;
    opacity: .5;
    transition: all .25s linear;
}
#Homepage-VideoField a .play-button:hover {
    opacity: .7;
    background-color: #000;
}

#Homepage-VideoField a .play-button span{
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: #d9e0e6;
}
#Homepage-VideoField a .play-button span:nth-child(1){
    transform: translate(75% ,25px) rotate(45deg);
}
#Homepage-VideoField a .play-button span:nth-child(2){
    transform: translate(75% ,50px) rotate(-45deg);
}
#Homepage-VideoField a .play-button span:nth-child(3){
    transform:translate(13% ,38px) rotate(90deg);
    width: 50px !important;
}

.ProductGroup{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.ProductGroup .GroupCard{
    position: relative;
    width: 100%;
    height: 350px;
    margin: 10px;
    display: flex;
}


.ProductGroup .GroupCard a{
    width: 100%;
    height: auto;
    transition: all .25s ease;
    border: 1px solid #d9e0e6;
    transition: .25s all ease;
    box-shadow: none;
    background-size: 65%;
    display: flex;
    flex-direction: column;
    background-color: #d9e0e6;
    text-decoration: none;
}
.ProductGroup .GroupCard a img{
    width: auto;
    margin: auto;
    position: relative;
}

.ProductGroup .GroupCard a:hover{
    transform: translateY(-10px);
    background-size: 70%;
}
.ProductGroup .GroupCard a .content {
    opacity: 0;
    transition: all .25s  ease;
}
.ProductGroup .GroupCard a .content p{
    color: #000;
}
.ProductGroup .GroupCard a:hover .content {
    opacity: 1;
}